h1, h2 {
	color: darkred;
}
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

#tact {
	color: midnightblue;
	font-size: 1em;
}

body p:first-of-type span {
	color: midnightblue;
	font-size: 1.2em;
	font-weight: bold;
}

dl dt{
	font-weight: bolder;
	color: #307351;
}

/*
#buddy, span {
	color: midnightblue;
	font-size: 1.2em;
	font-weight: bold;
}



.visual div {
	display: flex;
}
*/